<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trustworthy Restaurant Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Restaurant Reviews</h1>
<button onclick="window.location.href = '/createrestaurant';"> Create Restaurant
</button>
<table class = "table table-striped">
    <tr>
        <th> Restaurants </th>
        <th> Review </th>
    </tr>
    <tr th:each="restaurant : ${restaurants}">
        <td>
            <a th:href="@{/restaurantreviews?restaurantid={id}(id=${restaurant.getId()})}" th:text="${restaurant.getName()}"/>
        </td>
    </tr>

</table>
</body>
</html>