<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trustworthy Restaurant Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style> table, th, td { border: 1px solid black; } </style>
</head>
<body>
<h1>Restaurant Reviews</h1>
<button onclick="window.location.href = '/createrestaurant';"> Create Restaurant
</button>
<button onclick="filterAlphabetically()">Filter Restaurants Alphabetically</button>
<button onclick="filterByRating()">Filter Restaurants By Rating</button>
<table id="myTable" class = "table table-striped">
    <tr>
        <th> Restaurants </th>
        <th> Ratings </th>
    </tr>
    <tr class="restaurant" th:each="restaurant : ${restaurants}">
        <td>
            <a th:href="@{/restaurantreviews?restaurantid={id}(id=${restaurant.getId()})}" th:text="${restaurant.getName()}"/>
        </td>
        <td>
            <p th:text="${restaurant.getRating()}"/>
        </td>
        <td>
            <form action="/deleterestaurant" method="post">
                <input type="hidden" name="restaurantid" th:value="${restaurant.id}">
                <input type="submit" name="deleteButton" value="Delete Restaurant"></input>
            </form>
        </td>
    </tr>

</table>
<script src="filterRestaurants.js"></script>
<script src="filterByRating.js"></script>
</body>
</html>