<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Review</title>
</head>
<body>
<h1>Editing Review for Restaurant <p th:text="${restaurant.getName()}"></p></h1>

<button>
    <a th:href="@{/restaurantreviews?restaurantid={id}(id=${restaurant.getId()})}"/>Back</a>
</button>

<form name="editReview" action="#" th:action="@{/restaurantreviews?restaurantid={id}(id=${restaurant.getId()})}" method="post" onsubmit="return validateForm()">

    <input type="hidden" name="reviewID" th:value="${review.getId()}">
    <input type="hidden" name="restaurantID" th:value="${restaurant.getId()}">
    <p>Reviewer Name: <input type="text" name="reviewerName" th:value="${review.getReviewerName}"/></p>
    <p>Rating: <input id="rating" type="text" name="rating" th:value="${review.getRating}"></p>
    <p>Message: <input type="text" name="message" th:value="${review.getMessage}"/></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>

<script src="reviewValidation.js"></script>
</body>
</html>