<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Restaurant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Edit Restaurant</h1>
<form name="editRestaurant" action="#" th:action="@{/restaurantreviews?restaurantid={id}(id=${restaurant.getId()})}" th:object="${restaurant}" method="post" onsubmit="return validateForm()">
    <input type="hidden" name="restaurantID" th:value="${restaurant.getId()}">
    <p>Name: <input type="text" name="name" th:field="*{name}" required/></p>
    <p>Address: <input id="address" type="text" name="address" th:field="*{address}"/></p>
    <p>Phone Number: <input id="phoneNum" type="text" name="phoneNumber" th:field="*{phoneNumber}"/></p>
    <p>Optional Website: <input id="web" type="text" th:field="*{website}"/></p>
    <p>Description:</p>
    <textarea cols="55" rows="4" type="text" name="description" th:field="*{description}"></textarea>
    <p><input id="submit" type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<script src="restaurantValidation.js"></script>
</body>
</html>