<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${restaurant.getName()} + ' Reviews'"></title>
    <style> table, th, td { border: 1px solid black; } </style>
</head>
<body>
<h1 th:text="${restaurant.getName()} + ' Reviews'"></h1>
<h3 th:text="'Address: ' + ${restaurant.getAddress()}"/>
<h3 th:text="'Phone Number: ' + ${restaurant.getPhoneNumber()}"/>
<h3 th:text="'Description: ' + ${restaurant.getDescription()}"/>
<button>
    <a th:href="@{/editrestaurant?restaurantid={id}(id=${restaurant.getId()})}"/>Edit Restaurant Info</a>
</button>
<button>
    <a th:href="@{/createreview?restaurantid={id}(id=${restaurant.getId()})}"/>Create Review</a>
</button>
<button>
    <a th:href="@{/}"/>Back</a>
</button>
<select id="mylist" onchange="myFunction()" class='form-control'>
    <option>All</option>
    <option>5</option>
    <option>4</option>
    <option>3</option>
    <option>2</option>
    <option>1</option>
</select>
<table id="myTable" class = "table table-striped" title>
    <caption>Reviews</caption>
    <tr th:each="review : ${reviews}">
        <td>
            <p th:text="'Name: ' + ${review.getReviewerName()}"/>
            <p class="rating" th:text="'Rating: ' + ${review.getRating()}"/>
            <p th:text="'Message: ' + ${review.getMessage()}"/>
            <button style="margin-bottom:5px;">
                <a th:href="@{/editreview(restaurantid=${restaurant.getId()}, reviewid=${review.getId()})}"/>Edit Review</a>
            </button>
            <form action="/deletereview" method="post">
                <input type="hidden" name="restaurantid" th:value="${restaurant.id}">
                <input type="hidden" name="reviewid" th:value="${review.id}">
                <input type="submit" name="deleteButton" value="Delete Review"></input>
            </form>
        </td>
    </tr>
</table>
<script src="filterReviews.js"></script>
</body>
</html>