<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${restaurant.getName()} + ' Reviews'"></title>
</head>
<body>
<h1 th:text="${restaurant.getName()} + ' Reviews'"></h1>
<h3 th:text="'Address: ' + ${restaurant.getAddress()}"/>
<h3 th:text="'Phone Number: ' + ${restaurant.getPhoneNumber()}"/>
<h3 th:text="'Description: ' + ${restaurant.getDescription()}"/>
<button>
    <a th:href="@{/createreview?restaurantid={id}(id=${restaurant.getId()})&reviewid={id2}(id2=${review.getId()})"/>Create Review</a>
</button>
<button>
    <a th:href="@{/}"/>Back</a>
</button>

<table class = "table table-striped" title>
    <caption>Reviews</caption>
    <tr th:each="review : ${reviews}">
        <td>
            <p th:text="'Name: ' + ${review.getReviewerName()}"/>
            <p th:text="'Rating: ' + ${review.getRating()}"/>
            <p th:text="'Message: ' + ${review.getMessage()}"/>
            <button>
                <a th:href="@{/editreview?restaurantid={id}(id=${restaurant.getId()})}"/>Edit Review</a>
            </button>
        </td>
    </tr>
</table>
</body>
</html>